---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<style>
        a {
            text-decoration: none;
            color: unset;
            &:hover, &:focus {
                font-weight: normal;
                outline-offset: 1rem;
                color: unset;
            }
        }

        h2 {
            margin-top: .5rem;
        }

        p {
            margin-bottom: 3rem;
        }

        ol {
            padding: 0;
            list-style: none;
        }

        li {
            padding: 0;
        }

        section {
            margin-top: 4rem;
        }
    </style>
	<body data-theme="Default">
		<Header />
		<main>
		<h1>Frank's blog</h1>
		<p>I usually write here to consolidate my thoughts. Opinions are my own.</p>

		<section>
			<ol>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>
                                <div>
                                    <FormattedDate date={post.data.pubDate} />
                                    <h2>{post.data.title}</h2>
                                    <p>{post.data.description}</p>
                                </div>
                            </a>
                        </li>
					))
				}
			</ol>
		</section>
		</main>
	</body>
</html>
